<ion-view view-title="LogBook Detail" name="p-teacher-list-view">
    <ion-content class="padding">
  <div>
    <ion-item class="item">
        <p ng-click="getLogBook()">Date</p>
    </ion-item>
  </div>
  <br>
    <div class="list">
        <div class="row" style="padding-left:5%">
            <div class="col col-offset-5" style="border: 1px solid gray;" ng-click="openDatePicker()">
                <b>{{currentDate}}</b>
            </div>
        </div>  
        <div>
            <span><b>Date:</b></span><span>{{logbook_details[0]['Date']}}</span>        
        </div><br>
        <div>
            <span><b>Subject Name:</b></span><span ng-model="lb_sub_name">{{logbook_details[counter]['SubjectName']}}</span>        
        </div><br>
        <div>
            <span><b>Lecture Name:</b></span><span ng-model="lb_lec_name">{{logbook_details[counter]['LectureName']}}</span>        
        </div><br>
        <div>
            <span><b>Lesson Plan:</b></span><span ng-model="lb_lesson_plan">{{logbook_details[counter]['LessonPlan']}}</span>       
        </div><br>
        <div>
            <span><b>Teaching Aids:</b></span><span ng-model="lb_teaching_aids">{{logbook_details[counter]['TeachingAids']}}</span>     
        </div><br>
        <div>
            <span><b>Comment:</b></span><span ng-model="lb_comment">{{logbook_details[counter]['Comment']}}</span>      
        </div><br>
        <div >
            <span><b>Remark:</b></span>         
          
           <div class="item item-input" style="width:90%">
            <textarea placeholder="" ng-init="logbook_details[counter]['Remark']=''" ng-model="logbook_details[counter]['Remark']"></textarea>
           </div>
        </div><br>

        <div class="item item-borderless item-input" style="padding:6px 0 5px 2px; margin-top:60px;">
            <input type="button" class="button button-positive" style="border-radius: 20px;" value="Accept" id="accept" ng-click="logbookAccept()"/>
            &nbsp;&nbsp;
            <input type="button" class="button button-positive" style="border-radius: 20px;" value="Reject" id="reject" ng-click="logbookReject()"/>
        </div>
        <div >
            <img src="/img/left_arrow.png" class="alignleft" ng-click="preRecord()" ng-hide="!hasPre">
            <img src="/img/right_arrow.png" class="alignright" ng-click="nextRecord()" ng-hide="!hasNext">
        </div>
    </div>   
</ion-content>
    <ion-footer-bar>

    </ion-footer-bar>
</ion-view>