<ion-view view-title="Teacher" name="p-teacher-list-view">
  <ion-content class="padding">
  <div ng-hide="!isTeacherList">
  	<ion-list >
      <ion-item class="item-borderless" ng-repeat="teacher in teacher_list" >
         <p ng-click="getTeacherId(teacher)">{{teacher.Name}}</p>
      </ion-item>
    </ion-list>
  </div>  

<!--   LogBookDetail.html -->
	<div ng-hide="!isLogbookDetail">
      	<ion-item class="item" style="border-radius: 10px;">
      		<p ng-click="openDatePicker()"><b>{{currentDate}}</b></p>
      	</ion-item>
    </div>
    <div ng-hide="!isLogBook">
  <br>
  <div class="list" >
  	<div>
  		<span><b>Date:</b></span>&nbsp;&nbsp; <span>{{currentDate}}</span>		
  	</div><br>
  	<div>
  		<span><b>Subject Name:</b></span>&nbsp;&nbsp;<span ng-model="lb_sub_name">{{logbook_details[counter]['SubjectName']}}</span>		
  	</div><br>
  	<div>
  		<span><b>Lecture Name:</b></span>&nbsp;&nbsp;<span ng-model="lb_lec_name">{{logbook_details[counter]['LectureName']}}</span>		
  	</div><br>
  	<div>
  		<span><b>Lesson Plan:</b></span>&nbsp;&nbsp;<span ng-model="lb_lesson_plan">{{logbook_details[counter]['LessonPlan']}}</span>		
  	</div><br>
  	<div>
  		<span><b>Teaching Aids:</b></span>&nbsp;&nbsp;<span ng-model="lb_teaching_aids">{{logbook_details[counter]['TeachingAids']}}</span>		
  	</div><br>
  	<div>
  		<span><b>Comment:</b></span>&nbsp;&nbsp;<span ng-model="lb_comment">{{logbook_details[counter]['Comment']}}</span>		
  	</div><br>
  	<div >
  		<span><b>Remark:</b></span> 		
      	&nbsp;&nbsp;
  	   <div class="item item-input" style="width:93%">
        <textarea placeholder="" ng-init="logbook_details[counter]['Remark']=''" ng-model="logbook_details[counter]['Remark']"></textarea>
       </div>
    </div><br>

   <div class="item item-borderless item-input" style="padding:6px 0 5px 2px; margin-top:60px;" ng-hide="isAccepted">
        <input type="button" class="button button-positive" style="border-radius: 20px;" value="Accept" id="accept" ng-click="logbookAccept(logbook_details[counter])"/>
        &nbsp;&nbsp;
        <input type="button" class="button button-positive" style="border-radius: 20px;" value="Reject" id="reject" ng-click="logbookReject()"/>
    </div>
    <div >
        <img src="/img/left_arrow.png" class="alignleft" ng-click="preRecord()" ng-hide="!hasPre">
        <img src="/img/right_arrow.png" class="alignright" ng-click="nextRecord()" ng-hide="!hasNext">
    </div>
	</div>   
</div>
</ion-content>
</ion-view>