<ion-view view-title="Teacher Leave" name="p-leave-teacher-detail-view">
  <ion-content class="padding">
	  <!--Display teachers list-->
	  <div ng-hide="!isTeacherList">
	  	<ion-list >
	      <ion-item class="item-borderless" ng-repeat="teacher in teacher_list" >
	         <p ng-click="getTeacherId(teacher)">{{teacher.Name}}</p>
	      </ion-item>
	    </ion-list>
	  </div>
	  <div ng-hide="!isLeaveDetail">
	  	<div class="list">
		  	<div class="row" >
		  		<div class="col col-33" style="margin: 0 0 0 22px;"><b>From: </b></div>
		  		<div class="col">{{leave_details[current_counter]['Date']}}</div>
		  	</div>
		  	<div class="row">
		  		<div class="col col-33" style="margin: 0 0 0 22px;"><b>No. of days: </b></div>
		  		<div class="col">{{leave_details[current_counter]['NoOfDays']}}</div>
		  	</div>
		  	<div class="row">
		  		<div class="col col-33" style="margin: 0 0 0 22px;"><b>Reason: </b></div>
		  		<div class="col">{{leave_details[current_counter]['ReasonOfLeave']}}</div>
		  	</div>
		  	<div class="row">&nbsp;</div>

			<label class="item item-borderless item-input">
				<span class="input-label">No. of days accepted: </span>
				<div class="item item-input" style="width:30%">
					<input  type="number" min="0" max="99" maxlength="3" ng-init="leave_details[current_counter]['NoOfDaysAccepted']=''" ng-model="leave_details[current_counter]['NoOfDaysAccepted']"/>	
				</div>
			</label>

			<div class="item item-borderless item-input item-stacked-label">
				<span class="input-label">Comment: </span>
				<div class="item item-input" style="width:92%; margin-top:10px;">
					<textarea placeholder="Comments" ng-init="leave_details[current_counter]['Comment']=''" ng-model="leave_details[current_counter]['Comment']"></textarea>
				</div>
			</div>

		  	<div class="row">&nbsp;</div>
		  	<div class="row">&nbsp;</div>
			
			<div class="item item-borderless item-input" style="padding:6px 0 5px 2px;" ng-hide="isApproved">

				<input type="button" class="button button-positive" style="border-radius: 20px;" value="Accept" id="accept" ng-click="leaveAccept(leave_details[current_counter])"/>
				&nbsp;&nbsp;
				<input type="button" class="button button-positive" style="border-radius: 20px;" value="Reject" id="reject" ng-click="leaveReject(leave_details[current_counter])"/>			

			</div>
		  	
		  	<div class="row">&nbsp;</div>
		  	<div class="row">&nbsp;</div>
			<div class="row">&nbsp;</div>
		  	<div class="row">&nbsp;</div>
			
		  	<div class="row">&nbsp;
		  		<div class="col col-33">
					<a ng-hide="!has_prev" class="button icon-left ion-chevron-left" ng-click="go_backward()"></a>
		  		</div>
		  		<div class="col col-offest-33 col-66" align="right">
					<a ng-hide="!has_next" class="button icon-right ion-chevron-right" ng-click="go_forward()"></a>						
		  		</div>
		  	</div>
		</div>
	  </div>  
</ion-content>
</ion-view>