<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
   

     <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/stud_result.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/angular-chart.css">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="lib/ionic-service-push/ionic-push.js"></script>

    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/Chart.min.js"></script>
    <script src="js/angular-chart.js"></script>
    <script src="js/angular-chart.min.js"></script>
    <!-- path to ionic -->
    <script src="lib/ionic-datepicker/dist/ionic-datepicker.bundle.min.js"></script>

    <!-- controllers -->
    <script src="app/controller/login_controller.js"></script>
    <script src="app/controller/dashboard_controller.js"></script>
    <script src="app/controller/examtimetable_controller.js"></script>
    <script src="app/controller/holiday_controller.js"></script>
    <script src="app/controller/s_result_controller.js"></script>
    <script src="app/controller/s_complain_controller.js"></script>
    <script src="app/controller/s_complain_detail_controller.js"></script>
    <script src="app/controller/s_complainbox_controller.js"></script>
    <script src="app/controller/s_today_timetable_controller.js"></script>
    <script src="app/controller/s_homework_controller.js"></script>
    <script src="app/controller/s_sample_paper_controller.js"></script>
    <script src="app/controller/p_timetable.js"></script>
    <script src="app/controller/p_headcount_controller.js"></script>
    <script src="app/controller/p_view_admission.js"></script>
    <script src="app/controller/p_teacher_logbook.js"></script>
    <script src="app/controller/t_behaviour_notice.js"></script>
    <script src="app/controller/t_logbook_controller.js"></script>
    <script src="app/controller/t_homework_controller.js"></script>
    <script src="app/controller/t_leave_controller.js"></script>
    <script src="app/controller/t_schedule_controller.js"></script>
    <script src="app/controller/cmn_notification_controller.js"></script>
    <script src="app/controller/p_teacher_leave_controller.js"></script>
    <script src="app/controller/t_attendance_controller.js"></script>
    <script src="app/controller/attendance_controller.js"></script>
    <script src="app/controller/t_exammark_controller.js"></script>
    <script src="app/controller/p_graph_controller.js"></script>


    <!-- services -->
    <script src="app/services/login_service.js"></script>
    <script src="app/services/datetime_service.js"></script>
    <script src="app/services/dashboard_service.js"></script>
    <script src="app/services/examtimetable_service.js"></script>
    <script src="app/services/holiday_service.js"></script>
    <script src="app/services/s_complain_service.js"></script>
    <script src="app/services/p_teacher_leave_service.js"></script>
    <script src="app/services/t_attendance_service.js"></script>
    <script src="app/services/attendance_service.js"></script>
    <script src="app/services/t_exammark_service.js"></script>    
    <script src="app/services/t_apply_leave.js"></script>
    <script src="app/services/s_complain_detail_service.js"></script>
    <script src="app/services/s_complain_box_service.js"></script>
    <script src="app/services/t_homework_service.js"></script>
        <script src="app/services/urlrequest.js"></script>
            <script src="app/services/t_behaviour_notice_service.js"></script>


    <!-- Directives -->
    <script src="app/directives/datepicker.js"></script>

    <!-- interceptor to handle API call -->
    <script src="js/myInterceptor.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body ng-app="starter" ng-controller="MainCtrl" class="platform-android">
    
    <ion-side-menus enable-menu-with-back-views="true">
        <!-- Center content -->
        <div>
            <ion-side-menu-content>
                <ion-header-bar class="bar-positive">
                    <div >
                        <button menu-toggle="left" ng-hide="hideMenuBtn" class="button button-icon icon ion-navicon"></button>
                        <h1 class="title">{{navTitle}}</h1>
                    </div>
                </ion-header-bar>
                <!-- <ion-nav-bar class="bar-positive"></ion-nav-bar> -->
                <ion-nav-view></ion-nav-view>
            </ion-side-menu-content>
            <ion-side-menu>
                <div class="menu-wrapper ">
                    <ul class="list">
                        <ion-item menu-close ng-click="$state.go('dashboard')">Dashboard</ion-item>
                        <div ng-repeat="menu in menu_list">
                            <ion-item menu-close ng-click="$state.go('{{statePath[menu['PageType']]}}')">{{menu['Name']}}</ion-item>
                        </div>
                    </ul>
                </div>
            </ion-side-menu>
        </div>
    </ion-side-menus>
  </body>
</html>
