
	  <!--Display Branch List-->
	  <div>
	  	<ion-list >
	      <ion-item ng-repeat="branch in branch_list" >
	         <p ng-click="getBranchId(branch)">{{branch.Name}}</p>
	      </ion-item>
	    </ion-list>
	  </div>
