<ion-view view-title="Exam Timetable" name="examtimetable-view" ng-app="examtimetable">
  <ion-content class="padding">
    <div class="item item-borderless item-input" style="padding:6px 0 5px 2px; margin-top:20px;">
        <!-- Strat Date Picker -->

        <div class="col col-offset-5" style="border: 1px solid gray;" ng-click="openStartDatePicker()">
          <input type="text" name="stratDate" placeholder="Start Date" value="{{startDate}}" style="text-align: center"> 
        </div>

      &nbsp; --
      &nbsp;

        <!-- End Date Picker -->

        <div class="col col-offset-5" style="border: 1px solid gray;" ng-click="openEndDatePicker()">
        <input type="text" name="endDate" placeholder="End Date" value="{{endDate}}" style="text-align: center">
        </div>
    </div>


    <!-- Exam Schedule Data -->

    <div class="row"></div>
    <div ng-repeat="schedule in schedule_list">
        <div>&nbsp;&nbsp;{{dateFormatter(schedule['Date'])}} - {{schedule['Name']}}</div>
        <div class="underline">&nbsp;&nbsp;'Total Marks': {{schedule['TotalMarks']}} , 'Time': {{schedule['ExamTime']}}</div>
        <br/>
    </div>
  </ion-content>
</ion-view>