<ion-view view-title="Holidays" name="holiday-view" ng-app="holiday">
  <ion-content class="padding">
    <div class="row" style="margin-left: 0px;">
        <div class="col col-33"><b>Name </b></div>
        <div class="col col-33"><b>From Date</b></div>
        <div class="col col-33"><b>To Date</b></div>
    </div>
    <div ng-repeat="holiday in holiday_list">
      <div class="row underline" style="margin-left: 0px;">
        <div class="col col-33 ">{{holiday['Name']}}</div>
        <div class="col col-33">{{dateFormatter(holiday['FromDate'])}}</div>
        <div class="col col-33">{{dateFormatter(holiday['ToDate'])}}</div>
      </div>
    </div>
    

  </ion-content>
</ion-view>