<ion-view view-title="Inquiry" name="inquiry-view">
  <ion-content class="padding">
    <div class="item item-borderless item-input" style="padding:6px 0 5px 2px; margin-top:20px;">
        <!-- Strat Date Picker -->

        <div class="col col-offset-5" style="border: 1px solid gray;" ng-click="openStartDatePicker()">
          <input type="text" name="stratDate" placeholder="Start Date" value="{{startDate}}" style="text-align: center"> 
        </div>

      &nbsp; --
      &nbsp;

        <!-- End Date Picker -->

        <div class="col col-offset-5" style="border: 1px solid gray;" ng-click="openEndDatePicker()">
        <input type="text" name="endDate" placeholder="End Date" value="{{endDate}}" style="text-align: center">
        </div>
    </div>

    <!-- Line Bar Graph -->
    <div class="card" >
      <div class="item item-divider">
          A bar chart
      </div>
      <div class="item item-text-wrap" >
          <canvas id="bar" class="chart chart-bar" data="data" labels="labels" legend="true"  options="{showTooltips: false}"></canvas>
      </div>
    </div>

  </ion-content>
</ion-view>