<ion-view view-title="Time Table" name="timetable-view" ng-app="timetable">
  <ion-content class="padding">
  	<div class="list">
	    <label class="item item-input item-select">
	       <div class="input-label">
	       	weekdays
	       </div>
	       <select ng-model="weekdays" ng-change="getDaySchedule(weekdays)" >
	            <option>{{day_list[0]}}</option>
	           	<option>{{day_list[1]}}</option>
	            <option>{{day_list[2]}}</option>
	           	<option>{{day_list[3]}}</option>
	           	<option>{{day_list[4]}}</option>
	           	<option>{{day_list[5]}}</option>
	           	<option>{{day_list[6]}}</option>

	       </select>
	    </label>
	    <div ng-hide="!isLectureAvailable">
			<div class="row" style="margin-left: 0px;">
		        <div class="col col-33 text-center"><b>Lecture No.</b></div>
		        <div class="col col-33"><b>Subject Name</b></div>
		        <div class="col col-33"><b>Teacher Name</b></div>
	    	</div>
	    	<div ng-repeat="timetable in lecture_schedule">
		      <div class="row underline" style="margin-left: 0px;">
		        <div class="col col-33 text-center">{{timetable['LectureName']}}</div>
		        <div class="col col-33">{{timetable['SubjectName']}}</div>
		        <div class="col col-33">{{timetable['TeacherName']}}</div>
		      </div>
		    </div>
    	</div>
			
    	    


	</div>
  

  </ion-content>
</ion-view>