<ion-view view-title="Attendance" name="attedance-view" ng-app="attendance">
  <ion-content class="padding">
  <div class="list">
    <div class="row">&nbsp;</div>
    
    <label class="item item-input item-select">
       <div class="input-label">
           Select Batch
       </div>
       <select ng-options="batch.Name for batch in batches" ng-model="batch" ng-change="selectBatch(batch)">
           <option value="">Select Batch</option>
       </select>
    </label>
    <div class="row" style="padding-left:5%" ng-hide="!isBatchSelected">
        <div class="col col-offset-5" style="border: 1px solid gray;" ng-click="openDatePicker()">
            <b>{{currentDate}}</b>
        </div>
    </div>
    <div ng-hide="!isDateSelected">
        <label class="item item-input item-select">
            <div class="input-label">
               Select Lecture
            </div>
            <select ng-options="lec.Name for lec in lectureDetail" ng-model="lecture" ng-change="getLecDetail(lecture)">
               <option value="">Select Lecture</option>
            </select>
        </label>
    </div>
    <div class="row">&nbsp;</div>
    <div ng-hide="!isLecSelected">
      <div class="row" style="margin-left: 0px;">
          <div class="col col-33"><b>Roll No</b></div>
          <div class="col col-33"><b>Name</b></div>
          <div class="col col-33"><b></b></div>
      </div>
      <div ng-repeat="student in studList">
        <div class="row underline" style="margin-left: 0px;">
          <div class="col col-10 ">{{student['StudentId']}}</div>
          <div class="col col-50">{{student['Name']}}</div>
          <div class="col col-33" align="right">
            <label class="toggle toggle-balanced">
                <input type="checkbox" ng-model="presence" ng-checked="student['IsPresent'] == 1" ng-click=updatePresentStatus({{student['StudentId']}},{{student['IsPresent']}})>

                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
          </div>
        </div>
      </div>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <label class="item item-borderless item-input" style="padding:6px 0 5px 2px;">
        <input type="button" class="button button-positive" value="Save" id="save" ng-click="send_data()"/>
      </label>
    </div>  

  </div>  

  </ion-content>
</ion-view>

