<div class="list">
	<span ng-model="stud_data.student_name">{{stud_data.student_name}}</span>
		<br><br>
		<div>
			<p>Comment</p>
		<div class="item item-input" style="width:95%">
		<textarea ng-model="stud_data.comment"></textarea>
		</div>
	</div>
</div>