<ion-view view-title="Today Schedule" name="t_schedule-view" ng-init="">
  <ion-content class="padding">
    <div>
        <label class="item item-input item-select">
           <div class="input-label">
               Select Batch
           </div>
           <select ng-options="batch.Name for batch in batchList" ng-model="batchMd" ng-change="saveBatch(batchMd)">
               <option value="">Select Batch</option>
           </select>
        </label>
    </div>
    <div>&nbsp;</div>
    <div class="row" style="padding-left:5%" ng-hide="!isBatchSelected">
        <div class="col col-offset-5" style="border: 1px solid gray;" ng-click="openDatePicker()">
            <b>{{currentDate}}</b>
        </div>
    </div>
    <!-- <div class="row" style="margin:auto; width:100%;" >
        <a class="button icon-left ion-chevron-left" ng-click="preDaySchedule()"></a>
        <ion-item class="item" style="width:90%;" ng-click="openDatePicker()">               
           <p>{{currentDate}}</p>
        </ion-item>
        <a class="button icon-right ion-chevron-right" ng-click="nextDaySchedule()"></a>
  	</div> -->
  	<br>
  	<!-- Schedule Data -->
  		<div ng-hide="!hasSchedule">
      		<ion-list>
      			<ion-item class="item" ng-repeat="schedule in schedule_list">
                	<div class="row" ng-if="schedule.Name">
                		<b>Name:&nbsp;</b>{{schedule.Name}}
              		</div>
                    <div class="row" ng-if="schedule.SubjectName">
                        <b>Subject Name:&nbsp;</b>{{schedule.SubjectName}}
                    </div>
                    <div class="row" ng-if="schedule.StartTime&&schedule.EndTime">
                        <b>Duration:&nbsp;</b>{{schedule.StartTime}} - {{schedule.EndTime}}
                    </div>
              	</ion-item>
          	</ion-list>	
      	</div>



  </ion-content>
</ion-view>