.alignleft { float: left; }

.alignright { 
    display: inline-block; 
    float: right;
    word-wrap: break-all;
}

.aligncenter { 
   margin: auto;
   width: 50%;
}

.popup-head {
  border-color: #ccc;
  
}
.popup{

    border: 1px solid blue;
    background-color: #000;
}
.homework { 
    width: 60%;
    display: inline-block; 
    float: right;
    overflow-wrap: normal;
    overflow-wrap: break-word;
    word-wrap: break-all;
}
.result_pass_img{
	width: 30px;
	height: 30px;
	float: right;
    background-color:#08B325;
}

.result_fail_img{
    width: 30px;
    height: 30px;
    float: right;
    background-color:#C01813;
}

.item-select select
{
    right: auto;
    padding: 13px 45px 15px 0px;
    direction: ltr;
}
/* Empty. Add your own CSS if you like */

.grid-box{
	width: 100px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0; 
}
.footer-bar-custom {
    height: 44px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 5
}
.footer_list{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
/* Student Homework*/

.pre_date{
    position: absolute;
    left: 0;
    top:0;
    width: 50px;
    height: 50px;
}
.next_date{
    position: absolute;
    right: 0px;
    top: 0px;
    float: right;
    width: 50px;
    height: 50px;
}
.today_date{
    position: absolute;
    
    left: 50px;
    top: 0px;
    width: 70%
}

.date_container{
    position: relative;
    width: 100%;
}

.user_type{
    position: absolute;
    height: 200px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%; 
}

.underline {
    border-bottom: 1px solid hsl(30,10%,85%);
    margin: 0 0;
    padding-bottom: 0.0em;
}

.form-textbox {
    height: 18px !important;
    width: 60px !important;
    font-size: 12px !important;
}


.table-col {
    color: #696969;
    font-weight: bold;
}

.bold-font{
    font-weight: bold;
}

.green-bg{
    background-color: green;
    color: white;
}
.red-bg{
    background-color: red;
    color: white;
}
.orange-bg{
    background-color: #FF4500;
    color: white;
}
.blue-bg{
    background-color: #00FFFF;
    color: white;
}

.ionic_datepicker_popup .date_selection{
    padding-left: 25px;
};
